@use "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --color-primary: #1eb980;

  --color-secondary: #264fb4;
  --color-secondary-400: #324d90;
  --color-secondary-300: #6075a8;
  --color-secondary-200: #8d9cc1;
  --color-secondary-100: #bac3da;
  --color-secondary-50: #e8ebf2;

  --color-neutral: #8d97a6;
  --color-neutral-900: #282b32;
  --color-neutral-800: #3d424c;
  --color-neutral-700: #515866;
  --color-neutral-600: #666f80;
  --color-neutral-500: #8d97a6;
  --color-neutral-400: #b8c0cc;
  --color-neutral-300: #c9d0d9;
  --color-neutral-200: #dce0e5;
  --color-neutral-100: #e8edf2;
  --color-neutral-50: #f6f8fb;

  --color-info: #096dd9;
  --color-warning: #fa8c16;
  --color-success: #28a745;
  --color-danger: #ff4d4f;

  --color-bg: #f9f9f9;
  --color-bg-menu: #fff;
  --color-text: #000;
  --color-bg-nav: #282b32;
  --width-menu: 208px;
  --width-menu-collapsed: 80px;
}

.app-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  overflow-y: auto;
  flex-grow: 1;

  &__core {
    background: var(--color-bg-menu);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 8px;
    flex-grow: 1;
  }
  & > div[class*="ant-tabs"] {
    height: 100%;
    & > div[class*="ant-tabs-content-holder"] {
      overflow-y: auto;
    }
  }
}

.new-ui-table {
  thead.ant-table-thead {
    tr {
      > th,
      > td {
        background-color: #fff;
        color: #8d97a6;
        font-size: 16px;
        font-weight: normal;
        &::before {
          display: none;
        }
      }
    }
  }
  tbody.ant-table-tbody {
    tr {
      > td {
        border-color: #e8edf2;
        color: #282b32;
        vertical-align: middle !important;
      }
      &:last-child {
        > td {
          border: none;
        }
      }
    }
  }
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 24,
    "wght" 300,
    "GRAD" 0,
    "opsz" 0;
}


.printing-table {
  :global {
    .ant-table-fixed {
      table-layout: fixed;
    }

    .ant-table-thead {
      & > tr {
        & > th[class*="ant-table-cell"] {
          vertical-align: middle !important;
          text-align: center !important;
          font-family: "Arial";
        }
      }
    }

    .ant-table-tbody > tr > td {
      word-wrap: break-word;
      font-family: "Arial";
      vertical-align: middle !important;

      &:first-child {
        width: 24px !important;
        max-width: 24px !important;
        min-width: 24px !important;
      }

      &:nth-child(2) {
        word-break: break-all;
      }
    }
  }
}

.print {
  @media print {
    @page {
      background: var(--color-bg-menu);
      margin: 0mm;
      size: auto;
    }
  }
}
